<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/error.css.css?362" rel="stylesheet" type="text/css" />
    <title>401 - LeisoonCms-互联网技术应用服务商</title>
    <style type="text/css">
        BODY {
            text-align:center;

        }
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
        form,fieldset,select,input,textarea,p,blockquote,th,td {
            padding: 0;
            margin: 0;
        }
        .warp{ margin:0 auto; width:736px;}
        .div{ margin-top:100px;}
    </style>
</head>

<body>
<div class="warp">
    <div class=" div">
        <a href='/'><img src="/img/404.jpg" border="0" /></a>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var interval = setInterval(function(){
            location.href = '/';
        }, 5000);
    })();
</script>

</body>
</html>
